.site__projects {
    margin: 0 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    -webkit-animation: fade-in-fwd 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.site__projects h3,
.site__projects p {
    font-family: var(--font-family);
}

.site__projects h3 {
    margin: 0.5rem 0 0 0.5rem;
    font-size: 25px;
}

.site__projects p {
    margin: 0.5rem 0 0 0.5rem;
    font-size: 18px;
}

.site__projects-text {
    padding: 1rem;
}