.project__cart {
    background: linear-gradient(10deg, rgba(28, 20, 244, 0.825), rgba(22, 13, 13, 0.504)),
        rgba(0, 148, 255, 0.7);
    mix-blend-mode: overlay;
    border-radius: 0.5rem;
    border: 3px solid black;
    transition-property: color, box-shadow;
    transition-duration: 300ms;
    margin: 2rem;
    position: relative;
    padding: 1rem;
    height: 240px;
    width: 400px;

}


.project__cart__text p {
    font-family: var(--font-family);
}

.project__cart__git {
    position: absolute;
    top: 157px;
    left: 20px;
    float: left;

    box-shadow: 0px 5px 0px 3px black;
    border: 3px solid black;
    border-radius: 0.4rem;
    transition-property: color, box-shadow;
    transition-duration: 200ms;
}

.project__cart__git:hover {
    box-shadow: 0px 0px 0px 0px black;
    border: 3px solid black;
    border-radius: 0.4rem;
}

.project__cart__git img {
    width: 60px;
    display: block;
}

.project__cart__img {
    position: absolute;
    top: 164px;
    left: 320px;
    float: left;
}

.project__cart__img img {
    width: 60px;
    display: block;
}
