.site__header {
  display: flex;
  flex-direction: column;
}

.site__header-title {
  margin: 0 0 0 0;
}

.site__header-title {
  font-family: var(--font-family);
}

.site__header-title-h1 :hover {
  -webkit-animation: vibrate-1 0.3s linear both;
  animation: vibrate-1 0.3s linear both;
  cursor: default;
}

.site__header-categorybar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/*inactive button style*/
.site__header-button-inactive {
background: #ffffff;
}

/*active button style*/
.site__header-button-active {
  background: #7f8aff;

  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.site__header-button {
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 0 1rem 0 1rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.3vw;
  line-height: 25px;
    transition-property: color,
    box-shadow;
    transition-duration: 200ms;
        box-shadow: 0px 2px 0px 3px black;
    border: 3px solid black;
    border-radius: 0.4rem;
  width: 10vw;
  max-height: 62px;
}

.site__header-button:hover {
box-shadow: 0px 0px 0px 0px black;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .site__header-button {
    width:max-content;
    height: 5rem;
  }
}